-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: pengaduan_sarpas
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `barang`
--

DROP TABLE IF EXISTS `barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barang` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_lokasi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_barang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barang`
--

LOCK TABLES `barang` WRITE;
/*!40000 ALTER TABLE `barang` DISABLE KEYS */;
/*!40000 ALTER TABLE `barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_requests`
--

DROP TABLE IF EXISTS `item_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_lokasi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_barang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `requested_by` bigint unsigned NOT NULL,
  `status` enum('pending','approved','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `reviewed_by` bigint unsigned DEFAULT NULL,
  `review_note` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `item_requests_requested_by_foreign` (`requested_by`),
  KEY `item_requests_reviewed_by_foreign` (`reviewed_by`),
  CONSTRAINT `item_requests_requested_by_foreign` FOREIGN KEY (`requested_by`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `item_requests_reviewed_by_foreign` FOREIGN KEY (`reviewed_by`) REFERENCES `user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_requests`
--

LOCK TABLES `item_requests` WRITE;
/*!40000 ALTER TABLE `item_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_requests` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_insert_item_request` BEFORE INSERT ON `item_requests` FOR EACH ROW BEGIN
    
    IF LENGTH(TRIM(NEW.nama_barang)) = 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Nama barang tidak boleh kosong';
    END IF;
    
    
    IF NEW.status IS NULL THEN
        SET NEW.status = 'pending';
    END IF;
    
    
    IF NEW.created_at IS NULL THEN
        SET NEW.created_at = NOW();
    END IF;
    
    IF NEW.updated_at IS NULL THEN
        SET NEW.updated_at = NOW();
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lokasi`
--

DROP TABLE IF EXISTS `lokasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lokasi` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_lokasi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lokasi`
--

LOCK TABLES `lokasi` WRITE;
/*!40000 ALTER TABLE `lokasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `lokasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaduan_deleted_log`
--

DROP TABLE IF EXISTS `pengaduan_deleted_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengaduan_deleted_log` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pengaduan_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `barang` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaduan_deleted_log`
--

LOCK TABLES `pengaduan_deleted_log` WRITE;
/*!40000 ALTER TABLE `pengaduan_deleted_log` DISABLE KEYS */;
INSERT INTO `pengaduan_deleted_log` VALUES (1,7,5,'Lab IPA','Mikroskop','diajukan','2025-11-20 05:17:06');
/*!40000 ALTER TABLE `pengaduan_deleted_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaduan_status_log`
--

DROP TABLE IF EXISTS `pengaduan_status_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengaduan_status_log` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pengaduan_id` bigint unsigned NOT NULL,
  `status_lama` enum('diajukan','diproses','disetujui','ditolak','selesai') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_baru` enum('diajukan','diproses','disetujui','ditolak','selesai') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `changed_by` bigint unsigned DEFAULT NULL,
  `changed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `pengaduan_id` (`pengaduan_id`),
  CONSTRAINT `pengaduan_status_log_ibfk_1` FOREIGN KEY (`pengaduan_id`) REFERENCES `pengaduans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaduan_status_log`
--

LOCK TABLES `pengaduan_status_log` WRITE;
/*!40000 ALTER TABLE `pengaduan_status_log` DISABLE KEYS */;
INSERT INTO `pengaduan_status_log` VALUES (1,6,'diajukan','diproses',3,'2025-11-20 04:22:44'),(2,8,'diajukan','selesai',3,'2025-11-20 05:18:46');
/*!40000 ALTER TABLE `pengaduan_status_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaduans`
--

DROP TABLE IF EXISTS `pengaduans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengaduans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `petugas_id` bigint unsigned DEFAULT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `barang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_temporary_item` tinyint(1) NOT NULL DEFAULT '0',
  `detail_laporan` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `gambar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('diajukan','diproses','disetujui','selesai','ditolak') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'diajukan',
  `catatan_petugas` text COLLATE utf8mb4_unicode_ci,
  `catatan_admin` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pengaduans_user_id_foreign` (`user_id`),
  KEY `pengaduans_petugas_id_foreign` (`petugas_id`),
  CONSTRAINT `pengaduans_petugas_id_foreign` FOREIGN KEY (`petugas_id`) REFERENCES `user` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pengaduans_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaduans`
--

LOCK TABLES `pengaduans` WRITE;
/*!40000 ALTER TABLE `pengaduans` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengaduans` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_insert_pengaduan` BEFORE INSERT ON `pengaduans` FOR EACH ROW BEGIN
    
    IF LENGTH(NEW.detail_laporan) < 10 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Detail laporan harus minimal 10 karakter';
    END IF;
    
    
    IF NEW.status IS NULL THEN
        SET NEW.status = 'diajukan';
    END IF;
    
    
    IF NEW.created_at IS NULL THEN
        SET NEW.created_at = NOW();
    END IF;
    
    IF NEW.updated_at IS NULL THEN
        SET NEW.updated_at = NOW();
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_insert_pengaduan_counter` AFTER INSERT ON `pengaduans` FOR EACH ROW BEGIN
    INSERT INTO user_pengaduan_counter (user_id, total_pengaduan, last_pengaduan_at)
    VALUES (NEW.user_id, 1, NOW())
    ON DUPLICATE KEY UPDATE 
        total_pengaduan = total_pengaduan + 1,
        last_pengaduan_at = NOW();
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_update_pengaduan` BEFORE UPDATE ON `pengaduans` FOR EACH ROW BEGIN
    SET NEW.updated_at = NOW();
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_update_status_pengaduan` AFTER UPDATE ON `pengaduans` FOR EACH ROW BEGIN
    IF OLD.status != NEW.status THEN
        INSERT INTO pengaduan_status_log (
            pengaduan_id,
            status_lama,
            status_baru,
            changed_by,
            changed_at
        )
        VALUES (
            NEW.id,
            OLD.status,
            NEW.status,
            NEW.petugas_id,
            NOW()
        );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_delete_pengaduan` AFTER DELETE ON `pengaduans` FOR EACH ROW BEGIN
    INSERT INTO pengaduan_deleted_log (
        pengaduan_id,
        user_id,
        lokasi,
        barang,
        status,
        deleted_at
    )
    VALUES (
        OLD.id,
        OLD.user_id,
        OLD.lokasi,
        OLD.barang,
        OLD.status,
        NOW()
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_delete_pengaduan_counter` AFTER DELETE ON `pengaduans` FOR EACH ROW BEGIN
    UPDATE user_pengaduan_counter
    SET total_pengaduan = total_pengaduan - 1
    WHERE user_id = OLD.user_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_pengguna` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('guru','siswa','petugas','admin') COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_username_unique` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_insert_user` BEFORE INSERT ON `user` FOR EACH ROW BEGIN
    
    IF NEW.role NOT IN ('siswa', 'petugas', 'admin') THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Role harus salah satu dari: siswa, petugas, admin';
    END IF;
    
    
    IF LENGTH(NEW.username) < 3 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Username harus minimal 3 karakter';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `user_pengaduan_counter`
--

DROP TABLE IF EXISTS `user_pengaduan_counter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_pengaduan_counter` (
  `user_id` bigint unsigned NOT NULL,
  `total_pengaduan` int DEFAULT '0',
  `last_pengaduan_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `user_pengaduan_counter_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_pengaduan_counter`
--

LOCK TABLES `user_pengaduan_counter` WRITE;
/*!40000 ALTER TABLE `user_pengaduan_counter` DISABLE KEYS */;
INSERT INTO `user_pengaduan_counter` VALUES (5,6,'2025-11-20 06:01:48');
/*!40000 ALTER TABLE `user_pengaduan_counter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `view_barang_rusak_terbanyak`
--

DROP TABLE IF EXISTS `view_barang_rusak_terbanyak`;
/*!50001 DROP VIEW IF EXISTS `view_barang_rusak_terbanyak`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_barang_rusak_terbanyak` AS SELECT 
 1 AS `Nama_Barang`,
 1 AS `Jumlah_Laporan`,
 1 AS `Persentase`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_deleted_pengaduan`
--

DROP TABLE IF EXISTS `view_deleted_pengaduan`;
/*!50001 DROP VIEW IF EXISTS `view_deleted_pengaduan`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_deleted_pengaduan` AS SELECT 
 1 AS `Log_ID`,
 1 AS `ID_Pengaduan_Dihapus`,
 1 AS `Pengadu`,
 1 AS `Lokasi`,
 1 AS `Barang`,
 1 AS `Status_Terakhir`,
 1 AS `Waktu_Dihapus`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_demo_functions`
--

DROP TABLE IF EXISTS `view_demo_functions`;
/*!50001 DROP VIEW IF EXISTS `view_demo_functions`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_demo_functions` AS SELECT 
 1 AS `Nama_Function`,
 1 AS `Deskripsi`,
 1 AS `Hasil`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_info_stored_procedures`
--

DROP TABLE IF EXISTS `view_info_stored_procedures`;
/*!50001 DROP VIEW IF EXISTS `view_info_stored_procedures`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_info_stored_procedures` AS SELECT 
 1 AS `Nama_Procedure`,
 1 AS `Fungsi`,
 1 AS `Cara_Pakai`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_info_triggers`
--

DROP TABLE IF EXISTS `view_info_triggers`;
/*!50001 DROP VIEW IF EXISTS `view_info_triggers`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_info_triggers` AS SELECT 
 1 AS `Nama_Trigger`,
 1 AS `Event`,
 1 AS `Tabel`,
 1 AS `Fungsi`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_log_status`
--

DROP TABLE IF EXISTS `view_log_status`;
/*!50001 DROP VIEW IF EXISTS `view_log_status`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_log_status` AS SELECT 
 1 AS `Log_ID`,
 1 AS `ID_Pengaduan`,
 1 AS `Lokasi`,
 1 AS `Barang`,
 1 AS `Status_Lama`,
 1 AS `Status_Baru`,
 1 AS `Diubah_Oleh`,
 1 AS `Waktu_Perubahan`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_pengaduan_lengkap`
--

DROP TABLE IF EXISTS `view_pengaduan_lengkap`;
/*!50001 DROP VIEW IF EXISTS `view_pengaduan_lengkap`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_pengaduan_lengkap` AS SELECT 
 1 AS `ID_Pengaduan`,
 1 AS `Nama_Pengadu`,
 1 AS `Lokasi`,
 1 AS `Barang`,
 1 AS `Detail_Laporan`,
 1 AS `Status_Label`,
 1 AS `Hari_Berlalu`,
 1 AS `Nama_Petugas`,
 1 AS `Tanggal_Dibuat`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_quick_summary`
--

DROP TABLE IF EXISTS `view_quick_summary`;
/*!50001 DROP VIEW IF EXISTS `view_quick_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_quick_summary` AS SELECT 
 1 AS `Object_Type`,
 1 AS `Total`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_statistik_pengaduan`
--

DROP TABLE IF EXISTS `view_statistik_pengaduan`;
/*!50001 DROP VIEW IF EXISTS `view_statistik_pengaduan`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_statistik_pengaduan` AS SELECT 
 1 AS `Keterangan`,
 1 AS `Jumlah`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_user_counter`
--

DROP TABLE IF EXISTS `view_user_counter`;
/*!50001 DROP VIEW IF EXISTS `view_user_counter`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_user_counter` AS SELECT 
 1 AS `User_ID`,
 1 AS `Nama_Pengguna`,
 1 AS `Role`,
 1 AS `Total_Pengaduan`,
 1 AS `Pengaduan_Terakhir`,
 1 AS `Adalah_Petugas`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_barang_rusak_terbanyak`
--

/*!50001 DROP VIEW IF EXISTS `view_barang_rusak_terbanyak`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_barang_rusak_terbanyak` AS select `pengaduans`.`barang` AS `Nama_Barang`,count(0) AS `Jumlah_Laporan`,concat(round(((count(0) * 100.0) / (select count(0) from `pengaduans`)),2),'%') AS `Persentase` from `pengaduans` group by `pengaduans`.`barang` order by count(0) desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_deleted_pengaduan`
--

/*!50001 DROP VIEW IF EXISTS `view_deleted_pengaduan`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_deleted_pengaduan` AS select `d`.`id` AS `Log_ID`,`d`.`pengaduan_id` AS `ID_Pengaduan_Dihapus`,`u`.`nama_pengguna` AS `Pengadu`,`d`.`lokasi` AS `Lokasi`,`d`.`barang` AS `Barang`,`d`.`status` AS `Status_Terakhir`,`d`.`deleted_at` AS `Waktu_Dihapus` from (`pengaduan_deleted_log` `d` left join `user` `u` on((`d`.`user_id` = `u`.`id`))) order by `d`.`deleted_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_demo_functions`
--

/*!50001 DROP VIEW IF EXISTS `view_demo_functions`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_demo_functions` AS select cast('fn_hitung_pengaduan_by_status' as char(255) charset utf8mb4) AS `Nama_Function`,cast('Hitung total pengaduan berdasarkan status' as char(255) charset utf8mb4) AS `Deskripsi`,cast(concat('Diajukan: ',convert(`fn_hitung_pengaduan_by_status`('diajukan') using utf8mb4),', Disetujui: ',convert(`fn_hitung_pengaduan_by_status`('disetujui') using utf8mb4),', Ditolak: ',convert(`fn_hitung_pengaduan_by_status`('ditolak') using utf8mb4),', Selesai: ',convert(`fn_hitung_pengaduan_by_status`('selesai') using utf8mb4)) as char(255) charset utf8mb4) AS `Hasil` union all select cast('fn_persentase_penyelesaian' as char(255) charset utf8mb4) AS `CAST('fn_persentase_penyelesaian' AS CHAR(255))`,cast('Hitung persentase pengaduan yang selesai' as char(255) charset utf8mb4) AS `CAST('Hitung persentase pengaduan yang selesai' AS CHAR(255))`,cast(concat(`fn_persentase_penyelesaian`(),'%') as char(255) charset utf8mb4) AS `CAST(CONCAT(fn_persentase_penyelesaian(), '%') AS CHAR(255))` union all select cast('fn_barang_paling_banyak_rusak' as char(255) charset utf8mb4) AS `CAST('fn_barang_paling_banyak_rusak' AS CHAR(255))`,cast('Ambil nama barang yang paling banyak dilaporkan rusak' as char(255) charset utf8mb4) AS `Name_exp_8`,cast(coalesce(`fn_barang_paling_banyak_rusak`(),'Tidak ada data') as char(255) charset utf8mb4) AS `Name_exp_9` union all select cast('fn_validasi_username' as char(255) charset utf8mb4) AS `CAST('fn_validasi_username' AS CHAR(255))`,cast('Validasi format username (min 3 karakter)' as char(255) charset utf8mb4) AS `CAST('Validasi format username (min 3 karakter)' AS CHAR(255))`,cast(concat('admin: ',if(`fn_validasi_username`('admin'),'Valid','Tidak Valid'),', ab: ',if(`fn_validasi_username`('ab'),'Valid','Tidak Valid')) as char(255) charset utf8mb4) AS `Name_exp_12` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_info_stored_procedures`
--

/*!50001 DROP VIEW IF EXISTS `view_info_stored_procedures`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_info_stored_procedures` AS select 'sp_tambah_pengaduan' AS `Nama_Procedure`,'INSERT pengaduan baru dengan transaction' AS `Fungsi`,'CALL sp_tambah_pengaduan(user_id, lokasi, barang, detail, is_temp, @new_id)' AS `Cara_Pakai` union all select 'sp_update_status_pengaduan' AS `sp_update_status_pengaduan`,'UPDATE status pengaduan dengan error handling' AS `UPDATE status pengaduan dengan error handling`,'CALL sp_update_status_pengaduan(pengaduan_id, status_baru, petugas_id, catatan)' AS `Name_exp_6` union all select 'sp_approve_item_request' AS `sp_approve_item_request`,'Approve permintaan barang (cek/buat lokasi, buat barang, update request)' AS `Name_exp_8`,'CALL sp_approve_item_request(request_id, admin_id)' AS `CALL sp_approve_item_request(request_id, admin_id)` union all select 'sp_get_statistik_pengaduan' AS `sp_get_statistik_pengaduan`,'Get statistik total, diajukan, disetujui, ditolak, selesai' AS `Get statistik total, diajukan, disetujui, ditolak, selesai`,'CALL sp_get_statistik_pengaduan(@total, @diajukan, @disetujui, @ditolak, @selesai)' AS `Name_exp_12` union all select 'sp_get_pengaduan_by_user' AS `sp_get_pengaduan_by_user`,'Query pengaduan berdasarkan user_id dengan JOIN' AS `Query pengaduan berdasarkan user_id dengan JOIN`,'CALL sp_get_pengaduan_by_user(user_id)' AS `CALL sp_get_pengaduan_by_user(user_id)` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_info_triggers`
--

/*!50001 DROP VIEW IF EXISTS `view_info_triggers`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_info_triggers` AS select 'trg_after_update_status_pengaduan' AS `Nama_Trigger`,'AFTER UPDATE' AS `Event`,'pengaduans' AS `Tabel`,'Log setiap perubahan status ke tabel pengaduan_status_log' AS `Fungsi` union all select 'trg_before_insert_pengaduan' AS `trg_before_insert_pengaduan`,'BEFORE INSERT' AS `BEFORE INSERT`,'pengaduans' AS `pengaduans`,'Validasi detail_laporan min 10 karakter, set default status' AS `Validasi detail_laporan min 10 karakter, set default status` union all select 'trg_before_update_pengaduan' AS `trg_before_update_pengaduan`,'BEFORE UPDATE' AS `BEFORE UPDATE`,'pengaduans' AS `pengaduans`,'Auto update timestamp updated_at' AS `Auto update timestamp updated_at` union all select 'trg_after_delete_pengaduan' AS `trg_after_delete_pengaduan`,'AFTER DELETE' AS `AFTER DELETE`,'pengaduans' AS `pengaduans`,'Simpan data yang dihapus ke pengaduan_deleted_log' AS `Simpan data yang dihapus ke pengaduan_deleted_log` union all select 'trg_before_insert_item_request' AS `trg_before_insert_item_request`,'BEFORE INSERT' AS `BEFORE INSERT`,'item_requests' AS `item_requests`,'Validasi nama_barang tidak boleh kosong' AS `Validasi nama_barang tidak boleh kosong` union all select 'trg_after_insert_pengaduan_counter' AS `trg_after_insert_pengaduan_counter`,'AFTER INSERT' AS `AFTER INSERT`,'pengaduans' AS `pengaduans`,'Increment counter di user_pengaduan_counter' AS `Increment counter di user_pengaduan_counter` union all select 'trg_after_delete_pengaduan_counter' AS `trg_after_delete_pengaduan_counter`,'AFTER DELETE' AS `AFTER DELETE`,'pengaduans' AS `pengaduans`,'Decrement counter di user_pengaduan_counter' AS `Decrement counter di user_pengaduan_counter` union all select 'trg_before_insert_user' AS `trg_before_insert_user`,'BEFORE INSERT' AS `BEFORE INSERT`,'user' AS `user`,'Validasi role dan username min 3 karakter' AS `Validasi role dan username min 3 karakter` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_log_status`
--

/*!50001 DROP VIEW IF EXISTS `view_log_status`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_log_status` AS select `l`.`id` AS `Log_ID`,`l`.`pengaduan_id` AS `ID_Pengaduan`,`p`.`lokasi` AS `Lokasi`,`p`.`barang` AS `Barang`,`fn_get_status_label`(`l`.`status_lama`) AS `Status_Lama`,`fn_get_status_label`(`l`.`status_baru`) AS `Status_Baru`,coalesce(`u`.`nama_pengguna`,'-') AS `Diubah_Oleh`,`l`.`changed_at` AS `Waktu_Perubahan` from ((`pengaduan_status_log` `l` join `pengaduans` `p` on((`l`.`pengaduan_id` = `p`.`id`))) left join `user` `u` on((`l`.`changed_by` = `u`.`id`))) order by `l`.`changed_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_pengaduan_lengkap`
--

/*!50001 DROP VIEW IF EXISTS `view_pengaduan_lengkap`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_pengaduan_lengkap` AS select `p`.`id` AS `ID_Pengaduan`,`u`.`nama_pengguna` AS `Nama_Pengadu`,`p`.`lokasi` AS `Lokasi`,`p`.`barang` AS `Barang`,left(`p`.`detail_laporan`,50) AS `Detail_Laporan`,`fn_get_status_label`(`p`.`status`) AS `Status_Label`,`fn_hari_sejak_pengaduan`(`p`.`id`) AS `Hari_Berlalu`,coalesce(`pet`.`nama_pengguna`,'-') AS `Nama_Petugas`,`p`.`created_at` AS `Tanggal_Dibuat` from ((`pengaduans` `p` join `user` `u` on((`p`.`user_id` = `u`.`id`))) left join `user` `pet` on((`p`.`petugas_id` = `pet`.`id`))) order by `p`.`created_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_quick_summary`
--

/*!50001 DROP VIEW IF EXISTS `view_quick_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_quick_summary` AS select 'Stored Procedures' AS `Object_Type`,count(0) AS `Total` from `information_schema`.`ROUTINES` where ((`information_schema`.`routines`.`ROUTINE_SCHEMA` = 'pengaduan_sarpas') and (`information_schema`.`routines`.`ROUTINE_TYPE` = 'PROCEDURE')) union all select 'Functions' AS `Functions`,count(0) AS `COUNT(*)` from `information_schema`.`ROUTINES` where ((`information_schema`.`routines`.`ROUTINE_SCHEMA` = 'pengaduan_sarpas') and (`information_schema`.`routines`.`ROUTINE_TYPE` = 'FUNCTION')) union all select 'Triggers' AS `Triggers`,count(0) AS `COUNT(*)` from `information_schema`.`TRIGGERS` where (`information_schema`.`triggers`.`TRIGGER_SCHEMA` = 'pengaduan_sarpas') union all select 'Views' AS `Views`,count(0) AS `COUNT(*)` from `information_schema`.`VIEWS` where (`information_schema`.`views`.`TABLE_SCHEMA` = 'pengaduan_sarpas') union all select 'Support Tables' AS `Support Tables`,3 AS `3` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_statistik_pengaduan`
--

/*!50001 DROP VIEW IF EXISTS `view_statistik_pengaduan`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_statistik_pengaduan` AS select 'Total Pengaduan' AS `Keterangan`,(((`fn_hitung_pengaduan_by_status`('diajukan') + `fn_hitung_pengaduan_by_status`('disetujui')) + `fn_hitung_pengaduan_by_status`('ditolak')) + `fn_hitung_pengaduan_by_status`('selesai')) AS `Jumlah` union all select 'Diajukan' AS `Diajukan`,`fn_hitung_pengaduan_by_status`('diajukan') AS `fn_hitung_pengaduan_by_status('diajukan')` union all select 'Disetujui' AS `Disetujui`,`fn_hitung_pengaduan_by_status`('disetujui') AS `fn_hitung_pengaduan_by_status('disetujui')` union all select 'Ditolak' AS `Ditolak`,`fn_hitung_pengaduan_by_status`('ditolak') AS `fn_hitung_pengaduan_by_status('ditolak')` union all select 'Selesai' AS `Selesai`,`fn_hitung_pengaduan_by_status`('selesai') AS `fn_hitung_pengaduan_by_status('selesai')` union all select 'Persentase Selesai (%)' AS `Persentase Selesai (%)`,`fn_persentase_penyelesaian`() AS `fn_persentase_penyelesaian()` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_user_counter`
--

/*!50001 DROP VIEW IF EXISTS `view_user_counter`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_user_counter` AS select `u`.`id` AS `User_ID`,`u`.`nama_pengguna` AS `Nama_Pengguna`,`u`.`role` AS `Role`,coalesce(`c`.`total_pengaduan`,0) AS `Total_Pengaduan`,`c`.`last_pengaduan_at` AS `Pengaduan_Terakhir`,`fn_is_petugas`(`u`.`id`) AS `Adalah_Petugas` from (`user` `u` left join `user_pengaduan_counter` `c` on((`u`.`id` = `c`.`user_id`))) where (`u`.`role` = 'siswa') order by `c`.`total_pengaduan` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-20 13:30:04
