<IfModule mod_rewrite.c>
    RewriteEngine Off
</IfModule>

<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule>

# Allow image files
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Order allow,deny
    Allow from all
</FilesMatch>
